body {
  background-image: url(../img/niken.jpg);
  image-orientation: 90deg;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kesatuan {
  height: 600px;
  opacity: 90%;
  width: 600px;
  background-color: turquoise;
  border: 10px solid white;
  position: fixed;
}
.tombol {
  position: relative;
  top: 20%;
  left: 17%;
  background-color: lightgreen;
  border: 0;
  font-size: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid white;
  border-bottom-right-radius: 50px;
}

.katakata {
  position: absolute;
  top: 70%;
  left: 33%;
  font-size: 30px;
  padding: 10px;
  border: 3px solid white;
  background-color: lightgreen;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hidden {
  display: none;
  position: relative;
}
.lovu {
  margin-left: 30px;
  font-family: arial;
  color: white;
  position: relative;
}

.lovu span {
  color: black;
}
.heart {
  width: 180px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 20%;
  background: #ff3e3e;
  transform-origin: right bottom;
  transition: 1s;
}
.heart:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightgreen;
  transition: 2s;
  transform-origin: right bottom;
}

.heart:hover {
  transform: rotate(45deg);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.heart:hover:before {
  transform: rotate(450deg) translateY(100px);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #e22c2c;
}

.muncul {
  opacity: 0;
  transition: 0.3s ease-in;
}

.hidden:hover .muncul {
  opacity: 1;
}
